<ion-header>
  <ion-toolbar>
    <ion-title>Projects</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list-header>
      <h2>Step 1</h2>
    </ion-list-header>
    <ion-card>
      <div class="settings">
        <label>Name </label> <input type="text" [(ngModel)]="user.name" id="txtName" name="name"
          placeholder="Stanley Mohlala">
        <label>Cell </label><input type="text" [(ngModel)]="user.cell" id="txtCell" name="cell"
          placeholder="000 000 0000">
        <label>Email </label><input type="text" [(ngModel)]="user.email" id="txtEmail" name="email"
          placeholder="name@example.com">
      </div>
    </ion-card>
    <div class="btnNext">
      <!-- <ion-button *ngIf="steps.prev" (click)="prevStep()" size="small" color="warning">Prev</ion-button> -->
      <ion-button *ngIf="steps.next" (click)="nextStep()" size="small" color="success">Next</ion-button>
    </div>
    <ion-list-header>
      <h2>Step 2</h2>
    </ion-list-header>
    <ion-card>
      <div class="settings">
        <label>Registration Number </label>
        <select class="data-list-input" style="width:190px;">
          <option value="">ST 00 MO GP</option>
          <option *ngFor="let vehicle of vehicles" value="vehicle.registrationNumber">{{vehicle.registrationNumber}}
          </option>
        </select>

        <label>Pool reason </label><textarea [(ngModel)]="pool.reason" id="txtPoolReason" name="poolReason"
          placeholder="Office"></textarea>

        <label>From </label>
        <div><input type="date"><input type="time" value="12:00" step="900"></div>
        <label>To </label>
        <div><input type="date"><input type="time" value="13:00" step="900"></div>
      </div>
    </ion-card>
    <div class="btnNext">
      <ion-button size="small" color="success">Next</ion-button>
    </div>
    <ion-list-header>
      <h2>Step 3</h2>
    </ion-list-header>
    <ion-card>
      <div class="settings">
        <label>Name </label> <input type="text" placeholder="Stanley Mohlala">
        <label>Cell </label><input type="text" placeholder="000 000 0000">
        <label>Email </label><input type="text" placeholder="name@example.com">
      </div>
    </ion-card>
    <div class="btnNext">
      <ion-button size="small" color="success">Next</ion-button>
    </div>
  </ion-card>
  <div class="btn">
    <ion-button>Submit</ion-button>
    <ion-button color="warning">Cancel</ion-button>
  </div>
</ion-content>