<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-list-header>
      <h2>Step 1</h2>
    </ion-list-header>
    <ion-card>
      <div class="settings">
        <label>Name </label>
        <div>
          <input type="text" [(ngModel)]="booking.user.name" id="txtName" name="name" placeholder="Stanley">
          <input type="text" [(ngModel)]="booking.user.surname" id="txtSurame" name="surname" placeholder="Mohlala">
        </div>
        <label>Cell </label><input type="text" [(ngModel)]="booking.user.cell" id="txtCell" name="cell"
          placeholder="000 000 0000">
        <label>Email </label><input type="text" [(ngModel)]="booking.user.email" id="txtEmail" name="email"
          placeholder="name@example.com">
      </div>
    </ion-card>
    <div *ngIf="!editMode" class="btnNext">
      <!-- <ion-button *ngIf="steps.prev" (click)="prevStep()" size="small" color="warning">Prev</ion-button> -->
      <ion-button *ngIf="steps.next" (click)="nextStep()" size="small" color="success">Next</ion-button>
    </div>
    <ion-list-header>
      <h2>Step 2</h2>
    </ion-list-header>
    <ion-card>
      <div class="settings">
        <label>Registration Number </label>
        <div>
          <input type="text" [(ngModel)]="booking.car.registrationNumber" id="txtRegistrationNumber"
            name="registrationNumber">
          <select (change)="selectedCar(car)" class="data-list-input" style="width:190px;">
            <option  *ngFor="let car of cars" 
              value="{{booking.car.registrationNumber}}">
              {{car.registrationNumber}}
            </option>
          </select>
        </div>
        <label>Pool reason </label><textarea [(ngModel)]="booking.bookingReason" id="txtbookingReason"
          name="bookingReason" placeholder="Office"></textarea>

        <label>From </label>
        <div><input type="date"><input type="time" value="12:00" step="900"></div>
        <label>To </label>
        <div><input type="date"><input type="time" value="13:00" step="900"></div>
      </div>
    </ion-card>
    <div *ngIf="!editMode" class="btnNext">
      <ion-button size="small" color="success">Next</ion-button>
    </div>
  </ion-card>
  <div class="btn">
    <ion-button>Submit</ion-button>
    <ion-button color="warning">Cancel</ion-button>
    <ion-button [routerLink]="['/projects']">Back</ion-button>
  </div>
</ion-content>