<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list id="labels-list">

    <table>
      <tr>
        <td>
          <ion-card>
            <img src="../../assets/images/1.jpg" width="100%" height="350px">
          </ion-card>
        </td>
        <td>
          <ion-card>
            <ion-list-header>
              <h2>Education</h2>
            </ion-list-header>
            <ion-card>
              <table class="fullTable">
                <tr>
                  <th>Instution </th>
                  <th>Highest Grade </th>
                  <th>Duration </th>
                  <th>Status </th>
                  <th></th>
                </tr>
                <tr *ngFor="let d of education">
                  <td> {{d.instution}} </td>
                  <td> {{d.highestGrade}} </td>
                  <td> {{d.duration}} </td>
                  <td> {{d.status}} </td>
                  <td><a [routerLink]="['/education']">more ..</a></td>
                </tr>
              </table>
            </ion-card>
          </ion-card>
          <ion-card>
            <ion-list-header>
              <h2>Projects</h2>
            </ion-list-header>
            <ion-card>
              <table class="fullTable">
                <tr>
                  <th>Name </th>
                  <th>State </th>
                  <th>Relationship </th>
                  <th>Technologies </th>
                  <th>Active </th>
                  <th></th>
                </tr>
                <tr *ngFor="let project of projects">
                  <td> {{project.name }} </td>
                  <td> {{project.state }} </td>
                  <td> {{project.relationship }} </td>
                  <td> {{project.technologies.a }} </td>
                  <td> {{project.activeYear.from }} - {{project.activeYear.to }} </td>
                  <td><a [routerLink]="['/projects']">more ..</a></td>
                </tr>
              </table>
            </ion-card>
          </ion-card>
        </td>
        <td>
          <ion-card>
            <ion-list-header>
              <h2>Contacts</h2>
            </ion-list-header>
            <ion-card>
              <div class="settings">
                <!-- <label>Email </label><input type="text" readonly placeholder="stanleymohlala83@gmail.com"> -->
                <label>Email </label> <span>{{contact.email}}</span>
                <label>Cell </label><span>{{contact.cell}} <br /> {{contact.cell2}}</span>
                <label>LinkedIn </label><span><a
                    href="https://www.linkedin.com/in/stanley-mohlala-736226178/">stanley-mohlala</a></span>
                <label>StackOverflow </label><span><a
                    href="https://stackoverflow.com/users/7296835/stanley-mohlala">stanley-mohlala</a></span>
                <label>Github </label><span><a href="https://github.com/Mohlala360">Mohlala360</a></span>
                <label>Address </label><span>{{contact.street}} <br />
                  {{contact.sub}}<br />{{contact.city}}<br />{{contact.code}}</span>
              </div>
            </ion-card>
          </ion-card>
        </td>
      </tr>
    </table>
    <ion-card>
      <ion-list-header>
        <h2>Work experience</h2>
      </ion-list-header>
      <ion-card>
        <table class="fullTable">
          <tr>
            <th>Name </th>
            <th>Position </th>
            <th>Reference </th>
            <th>Contact </th>
            <th>Duration</th>
            <th></th>
          </tr>
          <tr *ngFor="let experience of workExperiences">
            <td> {{experience.name}} </td>
            <td> {{experience.position}} </td>
            <td> {{experience.reference.nam}} {{experience.reference.nam}} </td>
            <td> {{experience.contact}} </td>
            <td> {{experience.duration.from}} - {{experience.duration.from}}</td>
            <td><a [routerLink]="['/profile']">more ..</a></td>
          </tr>
        </table>
      </ion-card>
    </ion-card>
  </ion-list>
</ion-content>