<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  

  <div id="container">
    <strong class="capitalize">About my activities</strong>
    <p> <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/stanley-mohlala-736226178/">LinkedIn</a></p>
  
    <p> <a target="_blank" rel="noopener noreferrer" href="https://github.com/Mohlala360">GitHub</a></p>

    <p> <a target="_blank" rel="noopener noreferrer" href="https://stackoverflow.com/users/7296835/stanley-mohlala">StackOverflow</a></p>
  </div>
</ion-content>
